h1 {
    font-size : 40pt;
}

h2 {
    font-size : 27pt;
}

div#content{
    margin-left : 15px;    
}

div#item{

    font-size : 16pt;
}

div#item span.img img{
    width : 80px;
    height : 80px;
}

div#item span.edit{
    background-color : #DDD;
    font-size : 10pt;
}

div#control{
    font-size : 16pt;
}