
body {
    background-color : #CCB;
}

div#content {
    background-color : #FFF;
    padding : 15px 10px 80px 20px;
    margin-left : 80px;
    width : 900px;
}

h1 {
    font-size : 40pt;
}

h2 {
    font-size : 23pt;
    margin : 20px 10px 10px -10px;
}


div#items{
    margin-left : 20px;
    font-size : 16pt;
}

div#new_item{
    margin-left : 15px;
    font-size : 16pt;
}

div#items ul{
    font-size : 16pt;
}

div#items li{
}

div#items span.name{
    margin : 5px;
    font-size : 25pt;
}

div#items span.mass{
    margin : 5px;
}

div#items span.edit{
    margin : 5px;
    font-size : 10pt;
    background-color : #E9E9E9;
}

div#items img{
    width : 80px;
    height : 80px;
    margin-right : 5px;
}

div#content{
    margin-left : 15px;    
}

div#item{
    margin-left : 15px;
    font-size : 16pt;
}

div#item span.img img{
    width : 80px;
    height : 80px;
}

div#item span.edit{
    background-color : #E9E9E9;
    font-size : 10pt;
}

div#control{
    font-size : 16pt;
    margin-top : 15px;
    margin-left : 15px;
}